@import url('https://fonts.googleapis.com/css2?family=Poppins');

title {
    background: rgba(39, 193, 245, 0.63);
    border-style: rounded;
    font-family: Poppins;
}

body {
    padding-top: 50px;
}

h1 {
    font-family: Poppins; 
}

p {
    font-family: Poppins;
}